.logo img {
  max-height: 100px; 
  margin-left: 20px;
  transition: filter 0.3s ease;
}

.logo img:hover {
  filter: contrast(0%);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: url('../assets/freepik__upload__77481.jpeg') no-repeat center center fixed;
  background-size: cover;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05); 
  z-index: -1; 
}

  
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 5rem;
  margin-right: 150px;
}

.nav-links a {
  text-decoration: none;
  color: #343434;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f7f5f5;
}


/* products */

.product-collection {
  text-align: center;
  padding: 50px 20px;
  color: #ffffff; 
}


.product-collection h2 {
  font-size: 2.5rem;
  color: #343434;
  margin-bottom: 10px;
}

.product-collection p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  backdrop-filter: blur(10px);
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #343434;
}

.product-card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  flex-grow: 1; 
}

.product-card .btn {
  display: inline-block;
  background-color: #ee4b3f;
  color: #ffffff;
  padding: 10px 20px;
  width: 40%;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  margin-top: auto; 
  transition: background-color 0.3s ease;
  align-self: center;
}

.product-card .btn:hover {
  background-color: #cb3e33;
}




.footer {
  background-color: white;
  color: #ffffff;
  padding: 40px 20px;
  text-align: center;
  position: relative;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
}

.footer-logo img {
  max-height: 80px;
}

.footer-socials {
  display: flex;
  gap: 20px;
}

.footer-socials a img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer-socials a img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.footer-text p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #363636;
}

@media (max-width: 768px) {

  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1 rem;
  }

  body {
    padding-top: 200px;
  }

  .logo img {
    max-height: 60px;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
    margin-right: 0;
  }

  .nav-links a {
    font-size: 1rem;
  }


}


@media (max-width: 480px) {

  body{
    padding-top: 300px;
  }

  .product-card {
    transform: scale(80%);
  }
  

  
}
