.logo img {
  max-height: 100px; 
  margin-left: 20px;
  transition: filter 0.3s ease;
}

.logo img:hover {
  filter: contrast(0%);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 5rem;
  margin-right: 150px;
}

.nav-links a {
  text-decoration: none;
  color: #343434;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f7f5f5;
}

.full-page-image {
  position: relative;
  width: 100%;
  height: 100vh; 
}

.full-page-image .image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make sure the image covers the area */
  filter: brightness(80%); /* Darken the image */
}

.full-page-image h1 {
  position: absolute;
  top: 0;
  left: 50%translate(-50%, -50%); 
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.full-page-image .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
}

.full-page-image .small-text {
  font-size: 1.2rem;
  font-weight: 500; 
  letter-spacing: 1px; 
  margin-bottom: -50px; 
}

.full-page-image .title-text {
  font-size: 3rem; 
  font-weight: bold;
  margin-bottom: 10px; 
}

.full-page-image .description {
  font-size: 1.5rem; 
  font-weight: 400; 
  line-height: 1.6; 
  max-width: 600px; 
  margin: 0 auto; 
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
}

.best-sellers {
  padding: 2rem 1rem;
  background-color: #f9f9f9;
}

.best-sellers h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.products {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.product-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  width: 300px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f4f4f4;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ee4b3f; /* Button color */
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px; /* Rounded corners */
  text-align: center;
  margin-top: 20px; /* Space above the button */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.btn:hover {
  background-color: #cb3e33; /* Darker shade on hover */
}
